<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
     Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>17 de dezembro de 1989</ion-card-subtitle>
        <ion-card-title>Os Simpsons</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/9fSGtPOp3MlFfynLEjYjlOfenbk.jpg"/>
          <p>A família Simpsons mora na cidade de Springfield, uma cidade americana como qualquer outra. Homer trabalha como inspetor de segurança numa usina de energia nuclear.…</p>
          <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>25 de setembro de 2017</ion-card-subtitle>
        <ion-card-title>The good doctor</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/zHdy8qTrKG0szzic3FCMkCrodnq.jpg"/>
          <p>Um jovem médico com autismo começa a trabalhar em um famoso hospital. Além dos desafios da profissão, ele terá também que provar sua capacidade a seus colegas e…</p>
          <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>12 de janeiro de 2020</ion-card-subtitle>
        <ion-card-title>The outsider</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/sDT2ZU9Xd2dt0svfO4qYYtziVP5.jpg"/>
          <p>Baseado no romance de Stephen King, este thriller psicológico segue um detetive e uma investigadora particular que investigam o caso do macabro assassinato de um…</p>
          <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>17 de abril de 2011</ion-card-subtitle>
        <ion-card-title>Game of Thrones</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/qE9Acg2kt641lEpkJ4AUC7u5MJM.jpg"/>
          <p>Em uma terra onde os verões podem durar vários anos e o inverno toda uma vida, sete nobres famílias lutam pelo controle da mítica terra de Westeros, dividida depois…</p>
          <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-card-content>
    </ion-card>

</ion-content>
